{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:run {:main-opts ["-m" "consultas.main"]}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "consultas.main-test"]}}}
